body {
  font-family: 'equity-text', Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'concourse_t4regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #3070AA;
}

/* h1 { font-size: 1.8em; margin-top: 0.3em; margin-bottom: 0.2em; }
h2 { font-size: 1.5em; margin-top: 0.3em; margin-bottom: 0.3em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; margin-top: 16px; line-height: 120%; }
h6 { font-size: 1.0em; } */

.img-practopian { vertical-align: -70%; }

figcaption {
	font-size: 0.8em; 
	font-style: italic;
	margin-top: 0.3em;
	margin-bottom: 0.8em;
	text-align: center;
}

.centered-block {
	display: block;
  margin-left: auto;
  margin-right: auto
}

.the-practopian {
	margin-top: 1rem;
	font-size: 1.8em;
	font-family: 'concourse_t4bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #3070AA;
}

.pr-slogan {
	font-family: 'concourse_t4regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #3070AA;
}

.pr-featured
{
	font-family: 'concourse_t4italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: underline;
	color: #5E5E5E;
}

.pr-nav-item {
	font-family: 'concourse_c4regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pr-topics-label {
	font-family: 'concourse_t3regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pr-topic {
	font-family: 'concourse_c4regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pr-page-title {
	margin-top: 0.5rem;
}

.pr-date-and-mins {
	font-family: 'concourse_t3regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

th.pr-sort-header {
	color: #005493;
	text-decoration: none;
	border: 1px #005493 dotted;
}

.pr-content a:link
{
	color: #005493;
	text-decoration: none;
	border-bottom: 1px #005493 dotted;
}

.pr-content a:visited {
	color: #005493;
	text-decoration: none;
}

.pr-content a:active {
	color: #005493;
	text-decoration: none;
}

.pr-content a:hover {
	color: #005493;
	text-decoration: none;
	border-bottom: 1px #3C4A66 dotted;
}

.pr-footer-p {
  font-family: 'concourse_t3regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a.pr-footer-a:link {
	text-decoration: none;
	color: inherit;
}

a.pr-footer-a:visited {
	text-decoration: none;
	color: inherit;
}

a.pr-footer-a:hover
{
	text-decoration: none;
	color: inherit;
	background-color: #F4F4F4;
	border-bottom: 0;
}

a.pr-footer-a:active {
	text-decoration: none;
	color: inherit;
}

a.pr-invisilink:link {
	text-decoration: inherit;
	color: inherit;
}

a.pr-invisilink:visited {
	text-decoration: inherit;
	color: inherit;
}

a.pr-invisilink:hover {
	text-decoration: inherit;
	color: inherit;
}

a.pr-invisilink:active {
	text-decoration: inherit;
	color: inherit;
}

blockquote {
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    /* color: #383838; */
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

.pr-index { font-size: 0.9em; }
.pr-index dt { font-weight: normal; }
.pr-index dd { 
	font-family: 'concourse_t4regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	margin-left: 1.5em;  
}

/* Tables */
table.table-dense {
  font-family: 'concourse_t3regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

table.table-dense th {
	font-family: 'concourse_t4regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table.shaded { background-color: #3070AA; margin-top: 1em; }

th.shaded
{
	background-color: #D0DFF5;
	text-align: left;
	vertical-align: bottom;
	padding: 4px;
}

th.shadedCentered
{
	background-color: #D0DFF5;
	text-align: center;
	vertical-align: bottom;
	padding: 4px;
}

td.shaded
{
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	padding: 4px;
}

td.shadedCentered
{
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: top;
	padding: 4px;
}

/* Table Defaults */

table {
  border-collapse: collapse;
  margin-bottom: 1em;
  font-family: 'concourse-text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
}

caption
{
	border: 0;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	text-align: center;
}

th {
	border: 1px #AABFCE solid;
	text-align: left;
	padding: 5px;
}

td {
	border: 1px #AABFCE solid;
	text-align: left;
	vertical-align: top;
	padding: 5px;
}

/* Table settings to flow with surrounding text */

table.flow-with-text {
  border-collapse: collapse;
  font-family: 'equity-text', Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #ffffff;
}


/* Colors */

.infrared
{
	color: #FFF;
	font-weight: 500;
	background-color: #EA60B5;
}
.magenta
{
	color: #FFF;
	font-weight: 500;
	background-color: #D5007D;
}
.red
{
	color: #FFF;
	font-weight: 500;
	background-color: #CA0018;
}
.amber
{
	color: #FFF;
	font-weight: 500;
	background-color: #D45507;
}
.orange
{
	color: #FFF;
	font-weight: 500;
	background-color: #FF8E01;
}
.green
{
	color: #FFF;
	font-weight: 500;
	background-color: #019B2D;
}
.teal
{
	color: #FFF;
	font-weight: 500;
	background-color: #00C89A;
}
.turqoise
{
	color: #FFF;
	font-weight: 500;
	background-color: #006BD8;
}
.indigo
{
	color: #FFF;
	font-weight: 500;
	background-color: #013388;
}
.beige
{
	color: #630;
	font-weight: 500;
	background-color: #F5F5DC;
}
.purple
{
	color: #FFF;
	font-weight: 500;
	background-color: #8B00FF;
}
.blue
{
	color: #FFF;
	font-weight: 500;
	background-color: blue;
}
.yellow
{
	color: #000;
	font-weight: 500;
	background-color: yellow;
}
.turquoise
{
	color: #000;
	font-weight: 500;
	background-color: #40E0D0;
}
.coral
{
	color: #000;
	font-weight: 500;
	background-color: #FF7F50;
}

.microblog_time {
	margin-top: 0.75em;
	margin-bottom: 1.5em;
	text-align: right;
	font-style: italic;
}
