<?nextrec?>
<?if =$featured$= eq true ?>
<?if =$type$= eq "appreciation" ?>
<?output "../includes-gen/featured-appreciation.html"?>
<?set linkpath = "appreciation/" ?>
<p class="pr-featured">
	<a class="pr-invisilink" href="=$linkpath$==$title&f$=.html">
		Featured Appreciation:
	</a>
</p>
<?endif?>
<?if =$type$= eq "blog" ?>
<?output "../includes-gen/featured.html"?>
<?set linkpath = "blog/hbowie/" ?>
<p class="pr-featured">
	<a class="pr-invisilink" href="=$linkpath$==$title&f$=.html">
		Featured Essay:
	</a>
</p>
<?endif?>
<div class="card border-0 mb-2" style="width: 100%;" >
		<a class="pr-invisilink" href="=$linkpath$==$title&f$=.html">
    	<img class="card-img-top" src="images/=$imagename&f$=" alt="=$imagealt$=">
    </a>
    <div class="card-body">
      <h4 class="card-title">
      	<a class="pr-invisilink" href="=$linkpath$==$title&f$=.html">
      		=$title$=
      	</a>
      </h4>
      <p class="card-text">=$teaser&o-$=</p>
      <a href="=$linkpath$==$title&f$=.html" class="btn btn-primary">Read more&hellip;</a>
    </div>
</div>
<?endif?>
<?loop?>
