<?output "../../web/tags/core.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>A 21st Century Belief System</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<div class="container">

	<div class="row">

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

		<div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">

			<main>

				<h1 class="pr-page-title">A 21st Century Belief System</h1>

				<p>The bulk of the topics on which I write can be arranged into what I like to call a concise yet useful belief system for the 21st century. Individual topics are grouped into broader themes.  </p>

<?nextrec?>
<?definegroup 1 “=$tags$="?>
<?ifendgroup 1 ?>
<?ifnewgroup 1 ?>
<?if =$type$= ne alias ?>
			<h2>=$tags$=</h2>

<?endif?>
<?endif?>
<?if =$seq$= ?>
			<p>
				=$body&o-$=
				<a class="btn btn-sm btn-outline-secondary mx-2 my-0 pr-topic" href="=$relative$=tags/=$title&f$=.html">
					=$title$=
				</a>
			</p>

<?endif?>
<?loop?>

<?include "../includes/back-to-top.html" ?>

			</main>

		</div>

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

	</div> <!-- /.row -->

<?include "../includes/license.html" ?>

</div> <!-- /.container -->

    <script src="=$relative$=js/bootstrap.bundle.min.js"></script>
</body>
</html>
