<?output "../appreciation/index.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Appreciations by Title</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<div class="container">

	<div class="row">

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

		<div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">

			<main>

				<h1 class="pr-page-title">Appreciations by Title</h1>

				<div class="pr-content">

					<p>This page lists appreciations I have written for works by others. </p>

					<ul>
<?nextrec?>
<?if =$type$= eq "appreciation" ?>
						<li><a href="=$title&f$=.html">=$title$=</a></li>
<?endif?>
<?loop?>
					</ul>
				</div>

<?include "../includes/back-to-top.html" ?>

			</main>

		</div>

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

	</div> <!-- /.row -->

<?include "../includes/license.html" ?>

</div> <!-- /.container -->

    <script src="=$relative$=js/bootstrap.bundle.min.js"></script>
</body>
</html>
