<?output "../authors/index.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Quoted Authors</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<div class="container">

	<div class="row">

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

		<div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">

			<main>

				<h1 class="pr-page-title">Quoted Authors</h1>

				<div class="pr-content">

				<p>You may sort the table by <button type="button" class="btn btn-outline-primary my-1" onclick="sortTable(0)">Author Name</button> (first-name first), or by Author <button type="button" class="btn btn-outline-primary my-1" onclick="sortTable(1)">Last Name</button>, or by <button type="button" class="btn btn-outline-primary my-1" onclick="sortTable(2)">Years Lived</button>. Hover over an author's name for brief info about them. Click on an author name to see collected quotations from that person. </p>

				<table class="table" id="authors-table">
					<col style="width:50%">
					<col style="width:25%">
					<col style="width:25%">
					<thead>
					<tr>
						<th class="pr-sort-header" onclick="sortTable(0)">Author Name</th>
						<th class="pr-sort-header" onclick="sortTable(1)">Last Name</th>
						<th class="pr-sort-header" onclick="sortTable(2)">Years Lived</th>
					</tr>
					</thead>
					<tbody>
<?nextrec?>
<?definegroup 1 “=$author$="?>
<?ifendgroup 1 ?>
	<tr>
		<td><a href="=$holdauthor&f$=.html" data-bs-toggle="tooltip" title="=$holdinfo$=">=$holdauthor$=</a></td>
		<td>=$holdauthor&a1$=</td>
		<td>=$holdyears$=</td>
	</tr>
<?endif?>
<?ifnewgroup 1 ?>
<?set holdauthor = "=$author$=" ?>
<?set holdyears  = "" ?>
<?set holdinfo   = "" ?>
<?endif?>
<?if "=$authoryears$=" ?>
<?set holdyears = "=$authoryears$=" ?>
<?endif?>
<?if "=$authorinfo$=" ?>
<?set holdinfo = "=$authorinfo$=" ?>
<?endif?>
<?loop?>
	</tbody>
</table>

				</div>

<?include "../includes/back-to-top.html" ?>

			</main>

		</div>

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

	</div> <!-- /.row -->

<?include "../includes/license.html" ?>

</div> <!-- /.container -->


    <script src="=$relative$=js/bootstrap.bundle.min.js"></script>
    <script src="=$relative$=js/author-sort.js"></script>
    <script>
    	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  			return new bootstrap.Tooltip(tooltipTriggerEl)
			})
		</script>
</body>
</html>

