<?output "../authors/index.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Quoted Authors</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<main>

<h1>Quoted Authors</h1>

<table>
	<thead>
	<tr>
		<th>Author Name</th>
		<th>Last Name</th>
		<th>Years Lived</th>
	</tr>
	</thead>
	<tbody>
<?nextrec?>
<?definegroup 1 “=$author$="?>
<?ifendgroup 1 ?>
	<tr>
		<td><a href="=$holdauthor&f$=.html">=$holdauthor$=</a></td>
		<td>=$holdauthor&a1$=</td>
		<td>=$holdyears$=</td>
	</tr>
<?endif?>
<?ifnewgroup 1 ?>
<?set holdauthor = "=$author$=" ?>
<?set holdyears  = "" ?>
<?set holdinfo   = "" ?>
<?endif?>
<?if "=$authoryears$=" ?>
<?set holdyears = "=$authoryears$=" ?>
<?endif?>
<?if "=$authorinfo$=" ?>
<?set holdinfo = "=$authorinfo$=" ?>
<?endif?>
<?loop?>
	</tbody>
</table>
</main>
</body>
</html>
