<?nextrec?>
<?if =$type$= eq "appreciation" ?>
<?output "../appreciation/=$title&f$=.html"?>
<?endif?>
<?if =$type$= eq "blog" ?>
<?output "../blog/hbowie/=$title&f$=.html"?>
<?endif?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>=$title$=</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<div class="container">

	<div class="row">

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

		<div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">

			<main>

				<h1 class="pr-page-title">=$title$=</h1>

				<p class="pr-date-and-mins">=$date&dd MMM yyyy$= &middot; =$minutes-to-read$= min read</p>

				<p><span class="pr-topics-label">topics:</span> =$tags&gtags/;btn btn-secondary mx-1 my-1 pr-topic$=</p>

<?if "=$imagename$=" ?>
				<p>
					<img class="img-fluid rounded" src="=$relative$=images/=$imagename&f$=" alt="=$imagealt$=">
				</p>

<?copyfile "../content/hbowie/files/=$imagename$=" "../images/=$imagename&f$=" ?>
<?endif?>

				<div class="pr-content">
					=$body&o$=
				</div>

<?include "../includes/back-to-top.html" ?>

			</main>

		</div>

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

	</div> <!-- /.row -->

<?include "../includes/license.html" ?>

</div> <!-- /.container -->


    <script src="=$relative$=js/bootstrap.bundle.min.js"></script>
</body>
</html>
<?loop?>
