<?output "../cross-posts/index.html" ?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Cross Posts</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<div class="container">

	<div class="row">

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

		<div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">

			<main>

				<h1 class="pr-page-title">Cross Posts</h1>

				<div class="pr-content">

					<p>Practopian posts appear right here on Practopian.org, and are also cross-posted to <a href="https://hbowie.medium.com">Medium</a> and to <a href="https://practopian.substack.com">Substack</a>. Please feel free to read and follow on your preferred site. </p>

					<p>Follow a link below to find multiple reading options for each of my latest posts. </p>

					<ul>
<?nextrec?>
						<li>
							<a href="=$title&f$=.html">
								=$title$=
							</a>
							&middot;
							<em>
								=$date&dd MMM yyyy$=
							</em>
						</li>
<?loop?>
					</ul>
				</div>

<?include "../includes/back-to-top.html" ?>

			</main>

		</div>

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

	</div> <!-- /.row -->

<?include "../includes/license.html" ?>

</div> <!-- /.container -->

    <script src="=$relative$=js/bootstrap.bundle.min.js"></script>
</body>
</html>
