<?output "../index.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>The Practical Utopian</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<header class="page-header header container">

		<!-- ><p>
			<a href="=$relative$=index.html"><img class="img-practopian" alt="Practopian Logo" src="=$relative$=images/logo_sq128.png" width="64" height="64"></a>
		</p> -->
		<p class="the-practopian">The Practical Utopian</p>
		<p class="pr-slogan">Big Ideas Powering Better Outcomes for Humanity</p>

		<hr />

</header>

<div class="container">

	<div class="row">

		<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">

<?include "../includes-gen/featured.html" ?>

		</div>

		<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">

<?include "../includes-gen/tags-home.html" ?>

<?nextrec?>
<?loop?>

		</div>

		<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">

			<p class="pr-featured">From the author:</p>
				<div class="card border-0 mb-2" style="width: 100%;" >
    			<img class="card-img-top" src="images/the-author-herb-with-hank.jpg" alt="Author Herb Bowie with Golden Retriever Hank">
    			<div class="card-body">
      			<h4 class="card-title">Welcome!</h4>
      			<p class="card-text">
							I write as <em>The Practical Utopian</em> because my twin desires are to be: <br />
							&bull; <em>Down-to-earth</em> &mdash; I try to write short pieces explaining big ideas that will be broadly useful; <br />
							&bull; <em>Idealistic</em> &mdash; I write with the goal of helping all of us achieve better outcomes, both for ourselves and for those around us.
      			</p>
        		<a href="about/the-site.html" class="btn btn-primary">
        			Read more&hellip;
        		</a>
    			</div>
				</div>

		</div>

	</div> <!-- /.row -->

<?include "../includes/license.html" ?>

</div> <!-- /.container -->

    <script src="=$relative$=js/bootstrap.bundle.min.js"></script>
</body>
</html>
