<?output "../index.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Original Content by Title</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

	<!-- Header -->
	<div class="centered-block">
		<p>
			<a href="=$relative$=index.html"><img class="img-practopian" alt="Practopian Logo" src="=$relative$=images/logo_sq128.png" width="64" height="64"></a>
			<span class="the-practopian">The Practical Utopian</span>
		</p>
		<p class="slogan">Big Ideas Powering Better Outcomes for Humanity</p>
	</div>

<?include "../includes/nav.html" ?>

<main>

<h1>All Original Content by Title</h1>

<ul>
<?nextrec?>
<?if =$type$= eq "appreciation" ?>
<li><a href="appreciation/=$title&f$=.html">=$title$=</a> (appreciation)</li>
<?endif?>
<?if =$type$= eq "blog" ?>
<li><a href="blog/hbowie/=$title&f$=.html">=$title$=</a> (essay)</li>
<?endif?>
<?loop?>
</ul>
</main>
</body>
</html>
