<?nextrec?>
<?output "../quotes/=$title&f$=.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>=$title$=</title>
	  <link rel="stylesheet" href="=$relative$=fonts/concourse_t3.css" type="text/css" />
    <link rel="stylesheet" href="=$relative$=fonts/stylesheet.css" type="text/css" />
    <link rel="stylesheet" href="=$relative$=css/styles.css" />
</head>
<body>

<?include "../includes/nav.html" ?>

<h1>=$title$=</h1>

<p>tags: =$tags&gtags/$=</p>

<blockquote>
=$body&o$=
</blockquote>

<p>&mdash; <a href="../authors/=$author&f$=.html">=$author&,$=</a>=$date&,$=</p>

<?if "=$worktitle$=" ?>
<p>From
<?if =$worktype$= ?>
the =$worktype&l$=
<?endif?>
<cite>
<?if "=$worklink$=" ?>
<a href="=$worklink$=">
<?endif?>
=$worktitle$=
<?if "=$worklink$=" ?>
</a>
<?endif?>
</cite></p>
<?endif?>

</body>
</html>
<?loop?>
