<?nextrec?>
<?output "../quotes/=$title&f$=.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>=$title$=</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<div class="container">

	<div class="row">

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

		<div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">

			<main>

				<h1 class="pr-page-title">=$title$=</h1>

					<p><span class="pr-topics-label">topics:</span> =$tags&gtags/;btn btn-secondary mx-1 my-1 pr-topic$=</p>

				<div class="pr-content">

					<blockquote>
						=$body&o$=
					</blockquote>

					<p>&mdash; <a href="../authors/=$author&f$=.html">=$author&,$=</a>=$date&,$=</p>

<?if "=$worktitle$=" ?>
					<p>From
<?if =$worktype$= ?>
						the =$worktype&l$=
<?endif?>
						<cite>
<?if "=$worklink$=" ?>
						<a href="=$worklink$=">
<?endif?>
						=$worktitle$=
<?if "=$worklink$=" ?>
						</a>
<?endif?>
						</cite></p>
<?endif?>

				</div>

			</main>

		</div>

		<div class="col-12 col-sm-12 col-md-1 col-lg-2 col-xl-3">

		</div>

	</div> <!-- /.row -->

<?include "../includes/license.html" ?>

</div> <!-- /.container -->


    <script src="=$relative$=js/bootstrap.bundle.min.js"></script>
</body>
</html>
<?loop?>
