<?nextrec?>
<?output "../quotes/=$title&f$=.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>=$title$=</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<main>

<h1>=$title$=</h1>

				<p><span class="pr-topics-label">topics:</span> =$tags&gtags/;btn btn-secondary mx-1 pr-topic$=</p>

<blockquote>
=$body&o$=
</blockquote>

<p>&mdash; <a href="../authors/=$author&f$=.html">=$author&,$=</a>=$date&,$=</p>

<?if "=$worktitle$=" ?>
<p>From
<?if =$worktype$= ?>
the =$worktype&l$=
<?endif?>
<cite>
<?if "=$worklink$=" ?>
<a href="=$worklink$=">
<?endif?>
=$worktitle$=
<?if "=$worklink$=" ?>
</a>
<?endif?>
</cite></p>
<?endif?>

</main>
</body>
</html>
<?loop?>
