<?nextrec?>
<?output "../tags/=$title&f$=.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Topic: =$title$=</title>
	  <link rel="stylesheet" href="=$relative$=fonts/concourse_t3.css" type="text/css" />
    <link rel="stylesheet" href="=$relative$=fonts/stylesheet.css" type="text/css" />
    <link rel="stylesheet" href="=$relative$=css/styles.css" />
</head>
<body>

<?include "../includes/nav.html" ?>

<h1>Topic: =$title$=</h1>

<h3>Intro:</h3>

=$body&o$=

<?include "../includes-gen/tag-=$title&f$=-content.html" ?>

<?include "../includes-gen/tag-=$title&f$=-quotes.html" ?>

</body>
</html>
<?loop?>
