<?output "../tags/index.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Topics</title>
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/nav.html" ?>

<main>

<h1>Topics</h1>

<p>My interests and writings tend to revolve around a number of recurring topics representing concerns of mine about our modern world. These topics are listed below, and selecting one of them will reveal original content and quotations relevant to that topic. </p>

<?nextrec?>
<?loop?>

<?include "../includes-gen/tags-box.html" ?>

</main>
</body>
</html>
